<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" href="favicon.png">
  <meta name="description" content="{{description}}" />

  {{#critical_css}}
    {{&.}}
  {{/critical_css}}

  {{#critical_scripts}}
    {{&.}}
  {{/critical_scripts}}

  <script src="/js/htmx.2.0.5.min.js"></script>

  {{#preloaded_images}}
    <link rel="preload" href="{{url}}" as="image">
  {{/preloaded_images}}
</head>
<body>
  <header>
    {{#custom_header}}
      {{&.}}
    {{/custom_header}}
    {{^custom_header}}
      <nav hx-boost="true">
        {{#custom_nav}}
          {{&.}}
        {{/custom_nav}}
        {{^custom_nav}}
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        {{/custom_nav}}
      </nav>
    {{/custom_header}}
  </header>
  <main>
    {{#body}}
      {{&.}}
    {{/body}}
    {{^body}}
      <p>No page body</p>
    {{/body}}
  </main>
  <footer>
    {{#custom_footer}}
      {{&.}}
    {{/custom_footer}}
    {{^custom_footer}}
      <p>No footer</p>
    {{/custom_footer}}
  </footer>
  <!--[if IE]><div style="width: 100%; position: fixed; z-index: 1000; bottom: 0; left: 0; background: lightgray;"><p>Outdated browser dectected. Please use a modern browser for a better browsing experience.</p><div onClick="parentNode.remove()">Close [X]</div></div><![endif]-->
</body>
</html>
